{% assign topic-links = page.topic-links %}

<div class="topic-link-wrapper">
    <ul class="topic-links">
{% for f in topic-links %}

    <li>
        {% if f.year %}
        <span class="post-date">{{ f.year }}</span>{% endif %}
        {% if f.title %}
        <h3 class=""><a href="{{ f.url | relative_url }}">{{ f.title }}</a></h3>
        {% endif %}
        {% if f.team %}
        <span class="post-date team">{{ f.team | markdownify }}</span>{% endif %}
        {% if f.desc %}
        <span class="link-desc">{{ f.desc | markdownify }}</span>{% endif %}
    </li>

{% endfor %}
</ul>
</div>