/**
  * _posts.scss
  * Each post is wrapped in `.post` and is used on default and post layouts. Each
  * page is wrapped in `.page` and is only used on the page layout.
  */

.page,
.post {
  margin-bottom: 4em;
}

// Blog post or page title
.page-title,
.post-title,
.post-title a {
  color: $post-title-color;
}
.page-title,
.post-title {
  margin-top: 0;
}

// Special styles for lists on CV page 
.cv > ul > li {
  font-size: 90%;
  padding-bottom: 0.8rem;
}

.cv > p {
  font-size: 90%;
}

// Add post excerpt divider

article.post {
  border-bottom: 1px solid #eee;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
}


// Meta data line below post title
.post-date {
  display: block;
  margin-top: .5rem;
  margin-bottom: 1rem;
  font-family: Open Sans, sans-serif;
  font-size: 85%;
  color: $post-date-color;
}

// Post navigation at bottom
.post-nav {
  font-size: 14px;
  margin-top: 3em;
  margin-bottom: 1em;
  display: flex;
}
.post-nav div {
  /* flex-grow, flex-shrink, flex-basis */
  flex: 1 1 0;
}
.post-nav-next {
  text-align: right;
}
