/**
  * _variables.scss
  * Contains SCSS variables used in this website's stylesheet.
  */

// Globals
$font-stack: 'Lora', serif;
$font-size: 18px;
$font-size-mobile: 15px;

$code-font-stack: 'Source Code Pro', monospace;

// Body
$body-text-color: #333333;
$body-background-color: #ffffff;
$body-top-border-color: #023346;
$body-top-border-width: 5px;

// Links
$link-color: #5a81b0;

// Navigation
$nav-bottom-border-color: #c0c0c0;
$nav-bottom-border-width: 1px;

$nav-link-color: #023346;
$nav-link-padding-y: 0.7rem;
$nav-link-padding-x: 1.5rem;
$nav-link-underline-color: #023346;

$nav-icon-color: #ffffff;
$nav-icon-background-color: #023346;

// Blog post headings and page titles
$post-title-color: #023346;
$post-date-color: #515151;

// Images
$border-radius: 50%;

// Message box
$message-color: #717171;
$message-background-color: #f9f9f9;
